<!-- 不喜欢吃的食物 -->
<div class="container five" ng-controller='five'>
	<header class="header">
		<a class='back' ng-click="back()"></a>
		<h1>小仙执照</h1>
	</header>
	<div class="main">
		<div class="section2" id="section2">
			<div class="smallbox">
				<h2>不喜欢吃的食物</h2>
				<ul id="ull">
				</ul>
				<div class="jixu">

					<span class='btn' ng-click='dialog()'>继续</span>
				</div>
			</div>
		</div>
	</div>
</div> 
<div class="dialog">
	<div class="box">
		<div class="top">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<h3>亲，我们为您准备了60道体质测设题，请耐心如实答题，获取真实体质结果</h3>
		</div>
		<p><a class='continue' href='#/six'>继续</a></p>
	</div>
</div> 

