<!-- 有无过敏食物 -->
<div class="container three four" ng-controller='four'>
	<header class="header">
		<a class='back' ng-click="back()"></a>
		<h1>基本信息</h1>
	</header>
	<section class="section">
		<div class="smallbox">
			<h2>有无过敏的食物</h2>
			<div class="pan">					
				<p>
					<span class="sort" id="no_2" ng-click='fn2()'><input type="radio" id="man" name="sex" class="fou" checked><lable for="man"><img src="img/pic10-1.png" alt=""></lable>无</span>
					<span class="sort" id="yes_2" ng-click='fn()'><input type="radio" id="woman" name="sex" ><lable for="woman" ><img src="img/pic10-1.png" alt=""></lable>有</span></p>
			</div>
			<div class="list">
				<div class="list_1">
					
				</div>
			</div>
			<div class="jixu">
				<a class='continue' href='#/five'>继续</a>
			</div>
		</div>				
	</section>
</div>  

