<!-- 结果 -->
<div class="result-container seven" ng-controller='seven'>
		<header class="header">
			<a class='back' ng-click="back()"></a>
			<h1 class='title'></h1>
		</header>
		<section class='result-section'>
			<h5 class="hide-h">您的体质为：<span class='span'><!-- <label for="" class="he">平和质</label> -->,<!-- <label for="">偏阴虚</label> --></span><span></span></h5>
			<h5 class='show-h'>您的体质为：<br><span class='span'><!-- <span>平和质，偏阴虚</span> --></span><i ng-click='fn()'></i></h5>
			<!-- <div class="hide">
				<ol>
					<li>总体特征：<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span></li>
					<li>形体特征：体形匀称健壮。</li>
					<li>常见表现：面色、肤色润泽，头发稠密有光泽，目光有神，鼻色明润，嗅觉通利，唇色红润，不易疲劳，精力充沛，耐受寒热，睡眠良好，胃纳佳，二便正常，舌色淡红，苔薄白，脉和缓有力。</li>
					<li>心理特征：性格随和开朗。</li>
					<li>发病倾向：平素患病较少。</li>
					<li>对外界环境适应能力：对自然环境和社会环境适应能力较强。</li>
				</ol>
				<ul>
					<li><span></span>平和质，是什么意思？</li>
					<li><span></span>令人羡慕，只占中国人群的 30% 左右。	</li>
					<li><span></span>先天禀赋良好，后天调养得当。</li>
					<li><span></span>体态适中，面色红润，精力充沛，脏腑功能强健壮实。</li>
					<li><span></span>是和谐生命的范本。</li>
				</ul>
				<ul>
					<li><span></span>平和质，是什么意思？</li>
					<li><span></span>令人羡慕，只占中国人群的 30% 左右。	</li>
					<li><span></span>先天禀赋良好，后天调养得当。</li>
					<li><span></span>体态适中，面色红润，精力充沛，脏腑功能强健壮实。</li>
					<li><span></span>是和谐生命的范本。</li>
				</ul>
				<ul>
					<li><span></span>平和质，是什么意思？</li>
					<li><span></span>令人羡慕，只占中国人群的 30% 左右。	</li>
					<li><span></span>先天禀赋良好，后天调养得当。</li>
					<li><span></span>体态适中，面色红润，精力充沛，脏腑功能强健壮实。</li>
					<li><span></span>是和谐生命的范本。</li>
				</ul>
			</div> -->
			<div class='eat'>
				<h6>宜食<span id='keEat' ng-click='eat()'></span></h6>
				<div class='pic pic1'>
					<dl>
						<dt>
							<a href=""><img src="img/pic2-1.png" alt=""></a>
						</dt>
						<dd>600元套餐新鲜水果</dd>
					</dl>
					<dl>
						<dt>
							<a href=""><img src="img/pic2-1.png" alt=""></a>
						</dt>
						<dd>600元套餐新鲜水果</dd>
					</dl>
				</div>
				<div class='pic pic1'>
					<dl>
						<dt>
							<a href=""><img src="img/pic2-1.png" alt=""></a>
						</dt>
						<dd>600元套餐新鲜水果</dd>
					</dl>
					<dl>
						<dt>
							<a href=""><img src="img/pic2-1.png" alt=""></a>
						</dt>
						<dd>600元套餐新鲜水果</dd>
					</dl>
				</div>
				<h6>不宜食<span id="notEat" ng-click='not()'></span></h6>
				<div class='pic pic2'>
					<dl>
						<dt>
							<a href=""><img src="img/pic2-1.png" alt=""></a>
						</dt>
						<dd>600元套餐新鲜水果</dd>
					</dl>
					<dl>
						<dt>
							<a href=""><img src="img/pic2-1.png" alt=""></a>
						</dt>
						<dd>600元套餐新鲜水果</dd>
					</dl>
				</div>
			</div>
			<div class='un-eat'></div>
		</section>
	</div>
	<script src="js/jquery.js"></script>
	<script src='js/js.js'></script>
	<script src="js/index10.js"></script>
